$header-padding-top: 4.1rem;
$header-padding-top-phone: 3rem;
$logo-height: 2.8rem;

.header {
  position: relative;
  width: 100vw;
  height: 11rem;

  display: flex;
  align-items: flex-end;

  padding: $header-padding-top 0;

  transform: translate(0, 0);

  border: 2px solid gray;
  border-radius: 0 0 0 6rem;
  border-right: none;
  border-top: none;

  @include respond(phone) {
    // padding: $header-padding-top-phone 0;
  }

  &::before {
    position: absolute;
    content: "";
    height: 105%;
    width: 105%;
    background-color: white;
    top: -1rem;
    left: -1rem;
  }

  &__logo {
    z-index: 2;
    height: 2.8rem;
    margin-left: 6rem;

    @include respond(phone) {
      // height: 2rem;
      margin-left: 4rem;
    }
  }

  &--centered {
    height: calc(
      50vh + 11rem - calc(#{$logo-height} / 2) - #{$header-padding-top}
    );
    transform: translate(50vw, 0);
  }
}
