* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw; }

@font-face {
  font-family: din-regular;
  src: url(../../../resources/DIN-Regular.ttf); }

@font-face {
  font-family: praktika;
  src: url(../../../resources/PraktikaRounded-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: praktika;
  src: url(../../../resources/PraktikaRounded-Light.ttf);
  font-weight: normal; }

/*Dimensions*/
/*animations*/
/*colors*/
/*go from biggest width to smallest.*/
/*less than max width*/
h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

p,
em {
  font-size: 1.5rem; }

.splash__text {
  font-family: praktika;
  font-weight: bold;
  font-size: 2.2rem; }

.grid__item__date {
  font-family: din-regular;
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none; }

.grid__item__title {
  font-family: praktika;
  font-weight: bold;
  user-select: none; }

.grid__item__description {
  font-family: din-regular;
  font-weight: normal;
  user-select: none; }

.modal__post__go-back__text > p {
  font-family: din-regular;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.5px #383838;
  color: #383838;
  user-select: none; }

.modal__post__date {
  font-family: din-regular;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #8d8d8d; }

.modal__post__title {
  font-family: praktika;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-stretch: condensed;
  color: #525252; }

.modal__post__description {
  font-family: din-regular;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0;
  font-stretch: condensed;
  color: #483c3c; }

.main-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; }

.grid {
  z-index: 1; }

.header {
  z-index: 2; }

.splash {
  z-index: 3; }

.modal {
  z-index: 4; }

.header {
  position: relative;
  width: 100vw;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4.1rem 0;
  transform: translate(0, 0);
  border: 2px solid gray;
  border-radius: 0 0 0 6rem;
  border-right: none;
  border-top: none;
  background-color: #ffffff; }
  .header::before {
    z-index: 1;
    position: absolute;
    content: "";
    height: 105%;
    width: 105%;
    background-color: white;
    top: -1rem;
    left: -1rem; }
  .header__logo {
    z-index: 2;
    height: 2.8rem;
    margin-left: 6rem;
    user-select: none; }
    @media (max-width: 375px) {
      .header__logo {
        margin-left: 4rem; } }
  .header__langs {
    height: 2.8rem;
    width: 10rem;
    margin-right: 6rem;
    background-color: red; }
    @media (max-width: 375px) {
      .header__langs {
        margin-right: 4rem; } }
  .header--centered {
    height: calc( calc(var(--vh, 1vh) * 50) + 11rem - calc(2.8rem / 2) - 4.1rem);
    transform: translate(50vw, 0); }

.splash {
  height: 5rem;
  position: fixed;
  top: calc(var(--vh, 1vh) * 50);
  left: 50vw;
  margin: -2.5rem 0 0 -9.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .splash__text {
    vertical-align: middle;
    color: #485165;
    user-select: none; }
  .splash__dots {
    display: flex; }
  .splash__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #e73843;
    margin: 0 0.35rem; }
    .splash__dot:nth-child(3) {
      width: 3.7rem; }
  .splash--hidden {
    display: none; }

.grid {
  position: absolute;
  top: 11rem;
  width: 100%;
  height: calc(100vh - 11rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .grid__item {
    position: relative;
    border-radius: 0 0 0 6rem;
    margin-top: -5.5rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; }
    .grid__item__text {
      transition: 200ms; }
      .grid__item__text:active {
        transform: scale(1.05); }
    .grid__item__date {
      margin-top: 3rem; }
    .grid__item__title {
      margin-top: 1rem; }
    .grid__item__description {
      margin-top: 0.5rem; }
    .grid__item:nth-child(1) {
      z-index: calc(13 - 1);
      background-color: rgb(255, calc(1 / 20), calc(1 * 20)); }
    .grid__item:nth-child(2) {
      z-index: calc(13 - 2);
      background-color: rgb(255, calc(2 / 20), calc(2 * 20)); }
    .grid__item:nth-child(3) {
      z-index: calc(13 - 3);
      background-color: rgb(255, calc(3 / 20), calc(3 * 20)); }
    .grid__item:nth-child(4) {
      z-index: calc(13 - 4);
      background-color: rgb(255, calc(4 / 20), calc(4 * 20)); }
    .grid__item:nth-child(5) {
      z-index: calc(13 - 5);
      background-color: rgb(255, calc(5 / 20), calc(5 * 20)); }
    .grid__item:nth-child(6) {
      z-index: calc(13 - 6);
      background-color: rgb(255, calc(6 / 20), calc(6 * 20)); }
    .grid__item:nth-child(7) {
      z-index: calc(13 - 7);
      background-color: rgb(255, calc(7 / 20), calc(7 * 20)); }
    .grid__item:nth-child(8) {
      z-index: calc(13 - 8);
      background-color: rgb(255, calc(8 / 20), calc(8 * 20)); }
    .grid__item:nth-child(9) {
      z-index: calc(13 - 9);
      background-color: rgb(255, calc(9 / 20), calc(9 * 20)); }
    .grid__item:nth-child(10) {
      z-index: calc(13 - 10);
      background-color: rgb(255, calc(10 / 20), calc(10 * 20)); }
    .grid__item:nth-child(11) {
      z-index: calc(13 - 11);
      background-color: rgb(255, calc(11 / 20), calc(11 * 20)); }
    .grid__item:nth-child(12) {
      z-index: calc(13 - 12);
      background-color: rgb(255, calc(12 / 20), calc(12 * 20)); }
    .grid__item:nth-child(10) {
      z-index: 1;
      margin-right: -5.5rem; }
    .grid__item:nth-child(11) {
      z-index: 2;
      margin-right: -5.5rem; }
    .grid__item:nth-child(12) {
      z-index: 3;
      margin-right: -5.5rem; }
    @media (max-width: 1024px) {
      .grid__item:nth-child(10) {
        z-index: 3; }
      .grid__item:nth-child(11) {
        z-index: 1;
        margin-right: -5.5rem; }
      .grid__item:nth-child(12) {
        z-index: 2;
        margin-right: -5.5rem; } }
    @media (max-width: 768px) {
      .grid__item:nth-child(10) {
        z-index: 3; }
      .grid__item:nth-child(11) {
        z-index: 2;
        margin-right: -5.5rem; }
      .grid__item:nth-child(12) {
        z-index: 1;
        margin-right: -5.5rem; } }
  @media (max-width: 1024px) {
    .grid {
      height: auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, 25vh);
      grid-auto-rows: 25vh; }
      .grid:nth-child(1) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(2) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(3) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(4) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(5) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(6) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(7) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(8) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(9) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(10) {
        grid-row: initial;
        grid-column: initial; }
      .grid:nth-child(11) {
        grid-row: initial;
        grid-column: initial; } }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 25vh);
      grid-auto-rows: 25vh; } }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white; }
  .modal__nav-right {
    width: 16rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent; }
  .modal__nav-left {
    width: 16rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent; }
  .modal__content {
    width: 100%;
    height: 100%;
    display: flex; }
  .modal__left {
    width: 50%;
    height: 100%;
    padding: 11rem 18rem 15rem 15rem;
    background-color: white; }
  .modal__post {
    width: 56rem;
    padding: 1rem; }
    .modal__post__go-back span {
      display: inline-block;
      width: auto;
      transition: transform 200ms; }
      .modal__post__go-back span:hover {
        transform: translate(0, -0.2rem) scale(1.01); }
      .modal__post__go-back span:active {
        transform: translate(0, 0.2rem) scale(0.99); }
    .modal__post__date {
      margin-top: 3rem; }
    .modal__post__title {
      margin-top: 1rem; }
    .modal__post__video {
      margin-top: 2.5rem; }
  .modal__pictures {
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 0 0 6rem; }
    .modal__pictures__container {
      height: 100%;
      border-radius: 0 0 0 6rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modal__pictures__container > img {
        transition: 400ms;
        width: 100%;
        height: auto;
        border-radius: 0; }
