.main-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  // overflow-y: scroll;
}

.grid {
  z-index: 1;
}
.header {
  z-index: 2;
}
.splash {
  z-index: 3;
}
.modal {
  z-index: 4;
}
