@font-face {
  font-family: din-regular;
  src: url(../../../resources/DIN-Regular.ttf);
}
@font-face {
  font-family: praktika;
  src: url(../../../resources/PraktikaRounded-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: praktika;
  src: url(../../../resources/PraktikaRounded-Light.ttf);
  font-weight: normal;
}
// dale
