/*Dimensions*/
$phone: 414px;
$tablet-hor: 768px;
$tablet-ver: 1200px;
$smaller-text: 1500px;
$desktop: 1920px;

/*animations*/
$transition-avg: 200ms;

/*colors*/
$white: #ffffff;
$black: #383838;
$gray-blue: #485165;
$red: #e73843;
$date: #8d8d8d;
$text: #483c3c;
$title: #525252;
