h1 {
  font-family: praktika;
  font-size: 3rem;
  color: red;
  font-weight: normal;
  @include respond(tablet-hor) {
    font-weight: bold;
    color: blue;
  }
  @include respond(tablet-ver) {
    color: orange;
  }
  @include respond(phone) {
    color: green;
  }
}
h2 {
  font-size: 2.4rem;
}
p,
em {
  font-size: 1.5rem;
}

.splash__text {
  font-family: praktika;
  font-weight: bold;
  font-size: 2.2rem;
}

.grid__item {
  &__date {
    font-family: din-regular;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
  }
  &__title {
    font-family: praktika;
    font-weight: bold;
    user-select: none;
  }
  &__description {
    font-family: din-regular;
    font-weight: normal;
    user-select: none;
  }
}
