h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
p,
em {
  font-size: 1.5rem;
}

.splash__text {
  font-family: praktika;
  font-weight: bold;
  font-size: 2.2rem;
}

.grid__item {
  &__date {
    font-family: din-regular;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
  }
  &__title {
    font-family: praktika;
    font-weight: bold;
    user-select: none;
  }
  &__description {
    font-family: din-regular;
    font-weight: normal;
    user-select: none;
  }
}

.modal {
  &__post {
    &__go-back {
      &__text {
        & > p {
          font-family: din-regular;
          font-weight: 900;
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          -webkit-text-stroke: 0.5px $black;
          color: $black;
          user-select: none;
        }
      }
    }
    &__date {
      font-family: din-regular;
      font-weight: bold;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      color: $date;
    }
    &__title {
      font-family: praktika;
      font-weight: bold;
      font-size: 3.5rem;
      letter-spacing: 0.1rem;
      font-stretch: condensed;
      color: $title;
    }
    &__description {
      font-family: din-regular;
      font-size: 1.6rem;
      font-weight: normal;
      letter-spacing: 0;
      font-stretch: condensed;
      color: $text;
    }
  }
}
