* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

@import "./abstracts/_abstracts.scss";
@import "./base/_base.scss";
@import "./layout/_layout.scss";
@import "./components/_components.scss";
